In [1]:
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

In [2]:
df=pd.read_csv("./country_wise_latest.csv",na_values=['N/A', '?', 'xx', 'missing'] )
df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18.0,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63.0,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749.0,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0.0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0.0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,-10621,78,3752,6791,152,2,0.0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0.0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36.0,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465.0,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24.0,1.33,20.04,6.64,1713,991,57.85,Africa

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              186 non-null    object
 7   New recovered           182 non-null    float64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(5), int64(7), object(3)
memory usage: 22.0+ KB

In [3]:
df.describe()

c:\Users\Mahmoud\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,Confirmed,Deaths,Recovered,Active,New cases,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase
count,1.870000e+02,187.000000,1.870000e+02,1.870000e+02,187.000000,182.000000,187.000000,187.000000,187.00,1.870000e+02,187.000000,187.000000
mean,8.799240e+04,3497.518717,5.063148e+04,3.400219e+04,1222.957219,955.719780,3.019519,64.820535,inf,7.868222e+04,9439.443850,13.647273
std,3.833507e+05,14100.002482,1.901882e+05,2.133261e+05,5710.374790,4253.172545,3.454302,26.287694,NaN,3.382737e+05,47492.930194,24.486871
min,-1.062100e+04,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.00,1.000000e+01,-843.000000,0.000000
25%,9.360000e+02,18.500000,6.265000e+02,1.460000e+02,4.000000,0.000000,0.945000,48.770000,1.45,1.051500e+03,47.000000,2.830000
50%,4.881000e+03,108.000000,2.815000e+03,1.600000e+03,49.000000,17.500000,2.150000,71.320000,3.62,5.020000e+03,404.000000,6.890000
75%,4.046050e+04,734.000000,2.260600e+04,9.149000e+03,419.500000,228.250000,3.875000,86.885000,6.44,3.708050e+04,3172.000000,16.855000
max,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06,56336.000000,33728.000000,28.560000,100.000000,inf,3.834677e+06,455582.000000,226.320000

In [52]:
sorted(df['Country/Region'].unique())

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Greenland',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan*',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'US',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'West Bank and Gaza',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [53]:
sorted(df['Confirmed'].unique())

[np.int64(-10621),
 np.int64(-1219),
 np.int64(-1137),
 np.int64(10),
 np.int64(12),
 np.int64(14),
 np.int64(17),
 np.int64(18),
 np.int64(20),
 np.int64(23),
 np.int64(24),
 np.int64(27),
 np.int64(48),
 np.int64(52),
 np.int64(62),
 np.int64(86),
 np.int64(99),
 np.int64(110),
 np.int64(114),
 np.int64(116),
 np.int64(141),
 np.int64(148),
 np.int64(226),
 np.int64(265),
 np.int64(289),
 np.int64(326),
 np.int64(344),
 np.int64(350),
 np.int64(354),
 np.int64(378),
 np.int64(382),
 np.int64(389),
 np.int64(431),
 np.int64(462),
 np.int64(505),
 np.int64(509),
 np.int64(674),
 np.int64(699),
 np.int64(701),
 np.int64(739),
 np.int64(853),
 np.int64(865),
 np.int64(874),
 np.int64(907),
 np.int64(922),
 np.int64(950),
 np.int64(1060),
 np.int64(1100),
 np.int64(1128),
 np.int64(1132),
 np.int64(1167),
 np.int64(1202),
 np.int64(1223),
 np.int64(1455),
 np.int64(1483),
 np.int64(1557),
 np.int64(1691),
 np.int64(1701),
 np.int64(1770),
 np.int64(1783),
 np.int64(1843),
 np.int64(1854),
 np.int64(1879),
 np.int64(1954),
 np.int64(2019),
 np.int64(2034),
 np.int64(2087),
 np.int64(2181),
 np.int64(2305),
 np.int64(2316),
 np.int64(2328),
 np.int64(2513),
 np.int64(2532),
 np.int64(2704),
 np.int64(2805),
 np.int64(2827),
 np.int64(2893),
 np.int64(3071),
 np.int64(3196),
 np.int64(3200),
 np.int64(3297),
 np.int64(3369),
 np.int64(3439),
 np.int64(3664),
 np.int64(3882),
 np.int64(4227),
 np.int64(4448),
 np.int64(4548),
 np.int64(4552),
 np.int64(4599),
 np.int64(4880),
 np.int64(4881),
 np.int64(5059),
 np.int64(6208),
 np.int64(6321),
 np.int64(7055),
 np.int64(7189),
 np.int64(7235),
 np.int64(7340),
 np.int64(7398),
 np.int64(7413),
 np.int64(8844),
 np.int64(8904),
 np.int64(9132),
 np.int64(9690),
 np.int64(9764),
 np.int64(10213),
 np.int64(10498),
 np.int64(10621),
 np.int64(11424),
 np.int64(13761),
 np.int64(14203),
 np.int64(14547),
 np.int64(15035),
 np.int64(15303),
 np.int64(15516),
 np.int64(15655),
 np.int64(15841),
 np.int64(15988),
 np.int64(17110),
 np.int64(17975),
 np.int64(18752),
 np.int64(20558),
 np.int64(20887),
 np.int64(21209),
 np.int64(23154),
 np.int64(24141),
 np.int64(25892),
 np.int64(27973),
 np.int64(30446),
 np.int64(31142),
 np.int64(33296),
 np.int64(33624),
 np.int64(34477),
 np.int64(36263),
 np.int64(37390),
 np.int64(39482),
 np.int64(39741),
 np.int64(41180),
 np.int64(43402),
 np.int64(45309),
 np.int64(45902),
 np.int64(50299),
 np.int64(50838),
 np.int64(53413),
 np.int64(59177),
 np.int64(61442),
 np.int64(63985),
 np.int64(64156),
 np.int64(64379),
 np.int64(66428),
 np.int64(67096),
 np.int64(67251),
 np.int64(71181),
 np.int64(77058),
 np.int64(79395),
 np.int64(81161),
 np.int64(82040),
 np.int64(84648),
 np.int64(86783),
 np.int64(92482),
 np.int64(100303),
 np.int64(109597),
 np.int64(112585),
 np.int64(116458),
 np.int64(167416),
 np.int64(207112),
 np.int64(220352),
 np.int64(226225),
 np.int64(227019),
 np.int64(246286),
 np.int64(257101),
 np.int64(268934),
 np.int64(272421),
 np.int64(274289),
 np.int64(293606),
 np.int64(301708),
 np.int64(347923),
 np.int64(389717),
 np.int64(395489),
 np.int64(452529),
 np.int64(816680),
 np.int64(1480073),
 np.int64(2442375),
 np.int64(4290259)]

In [54]:
df['Confirmed'].value_counts()

Confirmed
 86       2
 24       2
 36263    1
 907      1
 4880     1
         ..
-10621    1
 10       1
 1691     1
 4552     1
 2704     1
Name: count, Length: 185, dtype: int64

In [55]:
sorted(df['1 week change'].unique())

[np.int64(-843),
 np.int64(-47),
 np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(9),
 np.int64(10),
 np.int64(11),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(20),
 np.int64(22),
 np.int64(23),
 np.int64(24),
 np.int64(27),
 np.int64(33),
 np.int64(35),
 np.int64(38),
 np.int64(39),
 np.int64(43),
 np.int64(44),
 np.int64(47),
 np.int64(51),
 np.int64(52),
 np.int64(55),
 np.int64(56),
 np.int64(58),
 np.int64(59),
 np.int64(60),
 np.int64(66),
 np.int64(72),
 np.int64(74),
 np.int64(75),
 np.int64(86),
 np.int64(91),
 np.int64(94),
 np.int64(98),
 np.int64(104),
 np.int64(109),
 np.int64(119),
 np.int64(126),
 np.int64(134),
 np.int64(138),
 np.int64(146),
 np.int64(152),
 np.int64(168),
 np.int64(194),
 np.int64(201),
 np.int64(208),
 np.int64(214),
 np.int64(215),
 np.int64(217),
 np.int64(250),
 np.int64(257),
 np.int64(285),
 np.int64(287),
 np.int64(292),
 np.int64(308),
 np.int64(314),
 np.int64(349),
 np.int64(370),
 np.int64(387),
 np.int64(401),
 np.int64(404),
 np.int64(432),
 np.int64(465),
 np.int64(490),
 np.int64(499),
 np.int64(511),
 np.int64(672),
 np.int64(682),
 np.int64(705),
 np.int64(709),
 np.int64(737),
 np.int64(756),
 np.int64(800),
 np.int64(815),
 np.int64(816),
 np.int64(847),
 np.int64(908),
 np.int64(953),
 np.int64(964),
 np.int64(977),
 np.int64(991),
 np.int64(1038),
 np.int64(1161),
 np.int64(1226),
 np.int64(1281),
 np.int64(1343),
 np.int64(1347),
 np.int64(1418),
 np.int64(1528),
 np.int64(1536),
 np.int64(1662),
 np.int64(1692),
 np.int64(1705),
 np.int64(1984),
 np.int64(2019),
 np.int64(2039),
 np.int64(2334),
 np.int64(2409),
 np.int64(2537),
 np.int64(2546),
 np.int64(2556),
 np.int64(2560),
 np.int64(2803),
 np.int64(2828),
 np.int64(2875),
 np.int64(2888),
 np.int64(3019),
 np.int64(3325),
 np.int64(3533),
 np.int64(3654),
 np.int64(3787),
 np.int64(3955),
 np.int64(4060),
 np.int64(4080),
 np.int64(4204),
 np.int64(4282),
 np.int64(4307),
 np.int64(4340),
 np.int64(4616),
 np.int64(4764),
 np.int64(5130),
 np.int64(5194),
 np.int64(5436),
 np.int64(6153),
 np.int64(6270),
 np.int64(6329),
 np.int64(6447),
 np.int64(6541),
 np.int64(7016),
 np.int64(7585),
 np.int64(7763),
 np.int64(8193),
 np.int64(8658),
 np.int64(10190),
 np.int64(10200),
 np.int64(11180),
 np.int64(11982),
 np.int64(12089),
 np.int64(13142),
 np.int64(14894),
 np.int64(15585),
 np.int64(17404),
 np.int64(17892),
 np.int64(18772),
 np.int64(32036),
 np.int64(36642),
 np.int64(40468),
 np.int64(46093),
 np.int64(53096),
 np.int64(78901),
 np.int64(323729),
 np.int64(324735),
 np.int64(455582)]

In [56]:
df['1 week change'].value_counts()

1 week change
0       12
1        4
72       3
2        3
9        2
        ..
4060     1
3654     1
1705     1
1226     1
991      1
Name: count, Length: 162, dtype: int64

In [57]:
sorted(df['1 week % increase'].unique())

[np.float64(0.0),
 np.float64(0.13),
 np.float64(0.26),
 np.float64(0.29),
 np.float64(0.49),
 np.float64(0.64),
 np.float64(0.68),
 np.float64(0.7),
 np.float64(0.78),
 np.float64(0.79),
 np.float64(0.82),
 np.float64(1.08),
 np.float64(1.12),
 np.float64(1.18),
 np.float64(1.36),
 np.float64(1.45),
 np.float64(1.54),
 np.float64(1.57),
 np.float64(1.6),
 np.float64(1.73),
 np.float64(1.86),
 np.float64(2.07),
 np.float64(2.11),
 np.float64(2.12),
 np.float64(2.27),
 np.float64(2.29),
 np.float64(2.39),
 np.float64(2.44),
 np.float64(2.46),
 np.float64(2.51),
 np.float64(2.6),
 np.float64(2.64),
 np.float64(2.75),
 np.float64(2.8),
 np.float64(2.86),
 np.float64(2.92),
 np.float64(2.96),
 np.float64(3.08),
 np.float64(3.13),
 np.float64(3.29),
 np.float64(3.47),
 np.float64(3.52),
 np.float64(3.55),
 np.float64(3.64),
 np.float64(3.7),
 np.float64(3.71),
 np.float64(3.77),
 np.float64(3.84),
 np.float64(3.93),
 np.float64(4.0),
 np.float64(4.07),
 np.float64(4.13),
 np.float64(4.21),
 np.float64(4.25),
 np.float64(4.35),
 np.float64(4.45),
 np.float64(4.47),
 np.float64(4.54),
 np.float64(4.62),
 np.float64(4.75),
 np.float64(4.81),
 np.float64(5.09),
 np.float64(5.21),
 np.float64(5.26),
 np.float64(5.36),
 np.float64(5.42),
 np.float64(5.44),
 np.float64(5.52),
 np.float64(5.56),
 np.float64(5.58),
 np.float64(5.84),
 np.float64(5.9),
 np.float64(5.99),
 np.float64(6.15),
 np.float64(6.3),
 np.float64(6.42),
 np.float64(6.86),
 np.float64(6.89),
 np.float64(7.06),
 np.float64(7.48),
 np.float64(7.69),
 np.float64(7.72),
 np.float64(8.03),
 np.float64(8.77),
 np.float64(8.96),
 np.float64(9.05),
 np.float64(9.12),
 np.float64(9.16),
 np.float64(9.28),
 np.float64(9.38),
 np.float64(9.43),
 np.float64(9.66),
 np.float64(10.0),
 np.float64(10.06),
 np.float64(10.15),
 np.float64(10.42),
 np.float64(10.49),
 np.float64(10.62),
 np.float64(11.62),
 np.float64(11.69),
 np.float64(11.75),
 np.float64(11.88),
 np.float64(12.09),
 np.float64(12.24),
 np.float64(12.34),
 np.float64(12.41),
 np.float64(12.66),
 np.float64(12.87),
 np.float64(12.89),
 np.float64(12.97),
 np.float64(13.16),
 np.float64(13.19),
 np.float64(13.59),
 np.float64(13.7),
 np.float64(14.82),
 np.float64(15.22),
 np.float64(15.28),
 np.float64(15.35),
 np.float64(15.43),
 np.float64(15.95),
 np.float64(16.06),
 np.float64(16.71),
 np.float64(17.0),
 np.float64(17.39),
 np.float64(18.07),
 np.float64(18.27),
 np.float64(18.89),
 np.float64(18.9),
 np.float64(18.93),
 np.float64(18.95),
 np.float64(19.07),
 np.float64(19.12),
 np.float64(20.0),
 np.float64(20.35),
 np.float64(21.12),
 np.float64(21.15),
 np.float64(21.34),
 np.float64(22.46),
 np.float64(22.67),
 np.float64(23.04),
 np.float64(23.13),
 np.float64(23.17),
 np.float64(23.67),
 np.float64(23.81),
 np.float64(26.03),
 np.float64(26.14),
 np.float64(26.83),
 np.float64(26.84),
 np.float64(28.02),
 np.float64(28.11),
 np.float64(29.12),
 np.float64(29.63),
 np.float64(30.53),
 np.float64(32.16),
 np.float64(32.22),
 np.float64(33.63),
 np.float64(35.47),
 np.float64(36.86),
 np.float64(37.13),
 np.float64(37.34),
 np.float64(37.44),
 np.float64(40.67),
 np.float64(41.57),
 np.float64(42.52),
 np.float64(42.78),
 np.float64(57.85),
 np.float64(119.54),
 np.float64(191.07),
 np.float64(226.32)]

In [58]:
df['1 week % increase'].value_counts()

1 week % increase
0.00     12
3.13      2
12.24     2
6.89      2
2.51      2
         ..
29.63     1
19.12     1
4.45      1
36.86     1
57.85     1
Name: count, Length: 169, dtype: int64

In [59]:
df['Confirmed'] = df['Confirmed'].apply(lambda x: abs(x))
df['1 week change'] = df['1 week change'].apply(lambda x: abs(x))
df['1 week % increase'] = df['1 week % increase'].apply(lambda x: abs(x))

In [62]:
sorted(df['Confirmed'].unique())

[np.int64(10),
 np.int64(12),
 np.int64(14),
 np.int64(17),
 np.int64(18),
 np.int64(20),
 np.int64(23),
 np.int64(24),
 np.int64(27),
 np.int64(48),
 np.int64(52),
 np.int64(62),
 np.int64(86),
 np.int64(99),
 np.int64(110),
 np.int64(114),
 np.int64(116),
 np.int64(141),
 np.int64(148),
 np.int64(226),
 np.int64(265),
 np.int64(289),
 np.int64(326),
 np.int64(344),
 np.int64(350),
 np.int64(354),
 np.int64(378),
 np.int64(382),
 np.int64(389),
 np.int64(431),
 np.int64(462),
 np.int64(505),
 np.int64(509),
 np.int64(674),
 np.int64(699),
 np.int64(701),
 np.int64(739),
 np.int64(853),
 np.int64(865),
 np.int64(874),
 np.int64(907),
 np.int64(922),
 np.int64(950),
 np.int64(1060),
 np.int64(1100),
 np.int64(1128),
 np.int64(1132),
 np.int64(1137),
 np.int64(1167),
 np.int64(1202),
 np.int64(1219),
 np.int64(1223),
 np.int64(1455),
 np.int64(1483),
 np.int64(1557),
 np.int64(1691),
 np.int64(1701),
 np.int64(1770),
 np.int64(1783),
 np.int64(1843),
 np.int64(1854),
 np.int64(1879),
 np.int64(1954),
 np.int64(2019),
 np.int64(2034),
 np.int64(2087),
 np.int64(2181),
 np.int64(2305),
 np.int64(2316),
 np.int64(2328),
 np.int64(2513),
 np.int64(2532),
 np.int64(2704),
 np.int64(2805),
 np.int64(2827),
 np.int64(2893),
 np.int64(3071),
 np.int64(3196),
 np.int64(3200),
 np.int64(3297),
 np.int64(3369),
 np.int64(3439),
 np.int64(3664),
 np.int64(3882),
 np.int64(4227),
 np.int64(4448),
 np.int64(4548),
 np.int64(4552),
 np.int64(4599),
 np.int64(4880),
 np.int64(4881),
 np.int64(5059),
 np.int64(6208),
 np.int64(6321),
 np.int64(7055),
 np.int64(7189),
 np.int64(7235),
 np.int64(7340),
 np.int64(7398),
 np.int64(7413),
 np.int64(8844),
 np.int64(8904),
 np.int64(9132),
 np.int64(9690),
 np.int64(9764),
 np.int64(10213),
 np.int64(10498),
 np.int64(10621),
 np.int64(11424),
 np.int64(13761),
 np.int64(14203),
 np.int64(14547),
 np.int64(15035),
 np.int64(15303),
 np.int64(15516),
 np.int64(15655),
 np.int64(15841),
 np.int64(15988),
 np.int64(17110),
 np.int64(17975),
 np.int64(18752),
 np.int64(20558),
 np.int64(20887),
 np.int64(21209),
 np.int64(23154),
 np.int64(24141),
 np.int64(25892),
 np.int64(27973),
 np.int64(30446),
 np.int64(31142),
 np.int64(33296),
 np.int64(33624),
 np.int64(34477),
 np.int64(36263),
 np.int64(37390),
 np.int64(39482),
 np.int64(39741),
 np.int64(41180),
 np.int64(43402),
 np.int64(45309),
 np.int64(45902),
 np.int64(50299),
 np.int64(50838),
 np.int64(53413),
 np.int64(59177),
 np.int64(61442),
 np.int64(63985),
 np.int64(64156),
 np.int64(64379),
 np.int64(66428),
 np.int64(67096),
 np.int64(67251),
 np.int64(71181),
 np.int64(77058),
 np.int64(79395),
 np.int64(81161),
 np.int64(82040),
 np.int64(84648),
 np.int64(86783),
 np.int64(92482),
 np.int64(100303),
 np.int64(109597),
 np.int64(112585),
 np.int64(116458),
 np.int64(167416),
 np.int64(207112),
 np.int64(220352),
 np.int64(226225),
 np.int64(227019),
 np.int64(246286),
 np.int64(257101),
 np.int64(268934),
 np.int64(272421),
 np.int64(274289),
 np.int64(293606),
 np.int64(301708),
 np.int64(347923),
 np.int64(389717),
 np.int64(395489),
 np.int64(452529),
 np.int64(816680),
 np.int64(1480073),
 np.int64(2442375),
 np.int64(4290259)]

In [63]:
sorted(df['1 week change'].unique())

[np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(9),
 np.int64(10),
 np.int64(11),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(20),
 np.int64(22),
 np.int64(23),
 np.int64(24),
 np.int64(27),
 np.int64(33),
 np.int64(35),
 np.int64(38),
 np.int64(39),
 np.int64(43),
 np.int64(44),
 np.int64(47),
 np.int64(51),
 np.int64(52),
 np.int64(55),
 np.int64(56),
 np.int64(58),
 np.int64(59),
 np.int64(60),
 np.int64(66),
 np.int64(72),
 np.int64(74),
 np.int64(75),
 np.int64(86),
 np.int64(91),
 np.int64(94),
 np.int64(98),
 np.int64(104),
 np.int64(109),
 np.int64(119),
 np.int64(126),
 np.int64(134),
 np.int64(138),
 np.int64(146),
 np.int64(152),
 np.int64(168),
 np.int64(194),
 np.int64(201),
 np.int64(208),
 np.int64(214),
 np.int64(215),
 np.int64(217),
 np.int64(250),
 np.int64(257),
 np.int64(285),
 np.int64(287),
 np.int64(292),
 np.int64(308),
 np.int64(314),
 np.int64(349),
 np.int64(370),
 np.int64(387),
 np.int64(401),
 np.int64(404),
 np.int64(432),
 np.int64(465),
 np.int64(490),
 np.int64(499),
 np.int64(511),
 np.int64(672),
 np.int64(682),
 np.int64(705),
 np.int64(709),
 np.int64(737),
 np.int64(756),
 np.int64(800),
 np.int64(815),
 np.int64(816),
 np.int64(843),
 np.int64(847),
 np.int64(908),
 np.int64(953),
 np.int64(964),
 np.int64(977),
 np.int64(991),
 np.int64(1038),
 np.int64(1161),
 np.int64(1226),
 np.int64(1281),
 np.int64(1343),
 np.int64(1347),
 np.int64(1418),
 np.int64(1528),
 np.int64(1536),
 np.int64(1662),
 np.int64(1692),
 np.int64(1705),
 np.int64(1984),
 np.int64(2019),
 np.int64(2039),
 np.int64(2334),
 np.int64(2409),
 np.int64(2537),
 np.int64(2546),
 np.int64(2556),
 np.int64(2560),
 np.int64(2803),
 np.int64(2828),
 np.int64(2875),
 np.int64(2888),
 np.int64(3019),
 np.int64(3325),
 np.int64(3533),
 np.int64(3654),
 np.int64(3787),
 np.int64(3955),
 np.int64(4060),
 np.int64(4080),
 np.int64(4204),
 np.int64(4282),
 np.int64(4307),
 np.int64(4340),
 np.int64(4616),
 np.int64(4764),
 np.int64(5130),
 np.int64(5194),
 np.int64(5436),
 np.int64(6153),
 np.int64(6270),
 np.int64(6329),
 np.int64(6447),
 np.int64(6541),
 np.int64(7016),
 np.int64(7585),
 np.int64(7763),
 np.int64(8193),
 np.int64(8658),
 np.int64(10190),
 np.int64(10200),
 np.int64(11180),
 np.int64(11982),
 np.int64(12089),
 np.int64(13142),
 np.int64(14894),
 np.int64(15585),
 np.int64(17404),
 np.int64(17892),
 np.int64(18772),
 np.int64(32036),
 np.int64(36642),
 np.int64(40468),
 np.int64(46093),
 np.int64(53096),
 np.int64(78901),
 np.int64(323729),
 np.int64(324735),
 np.int64(455582)]

In [64]:
sorted(df['1 week % increase'].unique())

[np.float64(0.0),
 np.float64(0.13),
 np.float64(0.26),
 np.float64(0.29),
 np.float64(0.49),
 np.float64(0.64),
 np.float64(0.68),
 np.float64(0.7),
 np.float64(0.78),
 np.float64(0.79),
 np.float64(0.82),
 np.float64(1.08),
 np.float64(1.12),
 np.float64(1.18),
 np.float64(1.36),
 np.float64(1.45),
 np.float64(1.54),
 np.float64(1.57),
 np.float64(1.6),
 np.float64(1.73),
 np.float64(1.86),
 np.float64(2.07),
 np.float64(2.11),
 np.float64(2.12),
 np.float64(2.27),
 np.float64(2.29),
 np.float64(2.39),
 np.float64(2.44),
 np.float64(2.46),
 np.float64(2.51),
 np.float64(2.6),
 np.float64(2.64),
 np.float64(2.75),
 np.float64(2.8),
 np.float64(2.86),
 np.float64(2.92),
 np.float64(2.96),
 np.float64(3.08),
 np.float64(3.13),
 np.float64(3.29),
 np.float64(3.47),
 np.float64(3.52),
 np.float64(3.55),
 np.float64(3.64),
 np.float64(3.7),
 np.float64(3.71),
 np.float64(3.77),
 np.float64(3.84),
 np.float64(3.93),
 np.float64(4.0),
 np.float64(4.07),
 np.float64(4.13),
 np.float64(4.21),
 np.float64(4.25),
 np.float64(4.35),
 np.float64(4.45),
 np.float64(4.47),
 np.float64(4.54),
 np.float64(4.62),
 np.float64(4.75),
 np.float64(4.81),
 np.float64(5.09),
 np.float64(5.21),
 np.float64(5.26),
 np.float64(5.36),
 np.float64(5.42),
 np.float64(5.44),
 np.float64(5.52),
 np.float64(5.56),
 np.float64(5.58),
 np.float64(5.84),
 np.float64(5.9),
 np.float64(5.99),
 np.float64(6.15),
 np.float64(6.3),
 np.float64(6.42),
 np.float64(6.86),
 np.float64(6.89),
 np.float64(7.06),
 np.float64(7.48),
 np.float64(7.69),
 np.float64(7.72),
 np.float64(8.03),
 np.float64(8.77),
 np.float64(8.96),
 np.float64(9.05),
 np.float64(9.12),
 np.float64(9.16),
 np.float64(9.28),
 np.float64(9.38),
 np.float64(9.43),
 np.float64(9.66),
 np.float64(10.0),
 np.float64(10.06),
 np.float64(10.15),
 np.float64(10.42),
 np.float64(10.49),
 np.float64(10.62),
 np.float64(11.62),
 np.float64(11.69),
 np.float64(11.75),
 np.float64(11.88),
 np.float64(12.09),
 np.float64(12.24),
 np.float64(12.34),
 np.float64(12.41),
 np.float64(12.66),
 np.float64(12.87),
 np.float64(12.89),
 np.float64(12.97),
 np.float64(13.16),
 np.float64(13.19),
 np.float64(13.59),
 np.float64(13.7),
 np.float64(14.82),
 np.float64(15.22),
 np.float64(15.28),
 np.float64(15.35),
 np.float64(15.43),
 np.float64(15.95),
 np.float64(16.06),
 np.float64(16.71),
 np.float64(17.0),
 np.float64(17.39),
 np.float64(18.07),
 np.float64(18.27),
 np.float64(18.89),
 np.float64(18.9),
 np.float64(18.93),
 np.float64(18.95),
 np.float64(19.07),
 np.float64(19.12),
 np.float64(20.0),
 np.float64(20.35),
 np.float64(21.12),
 np.float64(21.15),
 np.float64(21.34),
 np.float64(22.46),
 np.float64(22.67),
 np.float64(23.04),
 np.float64(23.13),
 np.float64(23.17),
 np.float64(23.67),
 np.float64(23.81),
 np.float64(26.03),
 np.float64(26.14),
 np.float64(26.83),
 np.float64(26.84),
 np.float64(28.02),
 np.float64(28.11),
 np.float64(29.12),
 np.float64(29.63),
 np.float64(30.53),
 np.float64(32.16),
 np.float64(32.22),
 np.float64(33.63),
 np.float64(35.47),
 np.float64(36.86),
 np.float64(37.13),
 np.float64(37.34),
 np.float64(37.44),
 np.float64(40.67),
 np.float64(41.57),
 np.float64(42.52),
 np.float64(42.78),
 np.float64(57.85),
 np.float64(119.54),
 np.float64(191.07),
 np.float64(226.32)]

In [122]:
df.info()
df['New deaths'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    object
 7   New recovered           187 non-null    float64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(5), int64(7), object(3)
memory usage: 22.0+ KB

array(['10', '6', '8', '0', '1', '120', '37', '4', '64',
       955.7197802197801, '614', '7', '11', '75', '508', '3', '2', '20',
       '17', '46', '5', '27', '50', '637', '57', '212', '96', '16', '??',
       '342', '13', '9', '28', '575', '85', '298', '1076'], dtype=object)

In [79]:
print("Start Cleaning")

Start Cleaning

In [4]:
df.isnull().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                3
New recovered             5
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

In [5]:
df["New deaths"].unique()
df["New recovered"].unique()
 
df['New recovered'] = df['New recovered'].fillna(df['New recovered'].mean())
df['New deaths'] = df['New deaths'].fillna(df['New recovered'].mean())

In [118]:
df["New deaths"].unique()

array(['10', '6', '8', '0', '1', '120', '37', '4', '64',
       955.7197802197801, '614', '7', '11', '75', '508', '3', '2', '20',
       '17', '46', '5', '27', '50', '637', '57', '212', '96', '16', '??',
       '342', '13', '9', '28', '575', '85', '298', '1076'], dtype=object)

In [6]:
df.isnull().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    object
 7   New recovered           187 non-null    float64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(5), int64(7), object(3)
memory usage: 22.0+ KB

In [125]:
df.describe()

c:\Users\Mahmoud\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,Confirmed,Deaths,Recovered,Active,New cases,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase
count,1.870000e+02,187.000000,1.870000e+02,1.870000e+02,187.000000,187.000000,187.000000,187.000000,187.00,1.870000e+02,187.000000,187.000000
mean,8.799240e+04,3497.518717,5.063148e+04,3.400219e+04,1222.957219,955.719780,3.019519,64.820535,inf,7.868222e+04,9439.443850,13.647273
std,3.833507e+05,14100.002482,1.901882e+05,2.133261e+05,5710.374790,4195.616813,3.454302,26.287694,NaN,3.382737e+05,47492.930194,24.486871
min,-1.062100e+04,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.00,1.000000e+01,-843.000000,0.000000
25%,9.360000e+02,18.500000,6.265000e+02,1.460000e+02,4.000000,0.000000,0.945000,48.770000,1.45,1.051500e+03,47.000000,2.830000
50%,4.881000e+03,108.000000,2.815000e+03,1.600000e+03,49.000000,22.000000,2.150000,71.320000,3.62,5.020000e+03,404.000000,6.890000
75%,4.046050e+04,734.000000,2.260600e+04,9.149000e+03,419.500000,270.500000,3.875000,86.885000,6.44,3.708050e+04,3172.000000,16.855000
max,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06,56336.000000,33728.000000,28.560000,100.000000,inf,3.834677e+06,455582.000000,226.320000